<div class="controller">

	<h1>Welcome to the Arcelormittal Dofasco Quiz</h1>
	
	<p>
	“I confirm that I am at least 18 years of age. I hereby consent to provide my name, address and email address (“Personal Information”) to ArcelorMittal Dofasco G.P. and consent ton and acknowledge that ArcelorMittal Dofasco G.P. shall be allowed to retain my Personal Information in perpetuity and use my Personal Information for the purposes of contacting me in the future with respect to opportunities at ArcelorMittal Dofasco G.P. and for general statistical analysis.”
	
	
	</p>
	<a href="/start" data-no-turbolink class="btn btn-lg btn-primary" >Confirm</a>
</div>
