<div ng-controller="MainController" class="controller">
	<ul class="errors">
		<li ng-repeat="error in errors">{{error}}</li>
	</ul>

	<div ng-show="answered">
		<div ng-show="correct" class="alert alert-success" role="alert">You are correct!</div>
		<div ng-hide="correct" class="alert alert-danger" role="alert">The correct answer is "{{correct_answer.answer}}"</div>	
	</div>

	<form ng-submit="submit()">	
		<div class="radio" ng-repeat="question in questions" ng-if="question.id == current_question_id" ng-show="show_form">
			<span class="question">{{question.question}}</span>
			<label class="radio" ng-repeat="answer in question.answers">
				<input ng-disabled="disable_radio" class="radio" type="radio" name="{{question.id}}" value="{{answer.id}}" ng-click="select_answer(question.id, answer.id)">{{answer.answer}}
			</label>
		</div>
		<div ng-hide="answered" >
			<a href ng-click="next()" class="btn btn-lg btn-primary" ng-show="show_submit_question">Submit</a>
		</div>
		<div ng-show="answered">
			<a href ng-click="next_question()" class="btn btn-lg btn-success" ng-show="show_next">Next Question</a>
		</div>
		<a href ng-click="finish()" class="btn btn-lg btn-success" ng-show="show_last">Finish Quiz</a>

		<div ng-show="show_contact">
		    <div class="form-group">
		      <label for="name">Name</label>
		      <input type="text" name="name" id="name" ng-model="name" class="form-control" placeholder="Name">
		    </div>
		
		    <div class="form-group">
		      <label for="email">Email</label>
		      <input type="text" name="email" id="email" ng-model="email" class="form-control" placeholder="Email">
	      	    </div>

		    <p>
	“I confirm that I am at least 18 years of age. I hereby consent to provide my name, address and email address (“Personal Information”) to ArcelorMittal Dofasco G.P. and consent ton and acknowledge that ArcelorMittal Dofasco G.P. shall be allowed to retain my Personal Information in perpetuity and use my Personal Information for the purposes of contacting me in the future with respect to opportunities at ArcelorMittal Dofasco G.P. and for general statistical analysis.”
	
	
		    </p>

		</div>
		
		
		<input type="submit" value="Confirm and Submit" class="btn btn-lg btn-primary" ng-show="show_submit">
	</form>
	
</div>
