/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.background
{


    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
	width: 100%;

}

.container
{
	margin-top: 20px;
	margin-bottom:20px;
	background: rgba(255,255,255,0.75);
	padding: 10px 10px 10px 10px;
	height: 700px;
}

.coil
{
	height: 350px;
}

ul li.errors
{
	color:red;
}

.logo
{
	width: 200px;
}


.background:before
{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
	background: image-url("AMD0512_233a.jpg");
	background-size: 20;
   	height: 3500px;
	background-size:2000px;
	background-repeat: no-repeat;
	
	/*
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
	*/
}

body
{
}

.controller
{
	padding-top:20px;
}

.question
{
	font-size: 2.0em;
}


label
{
	font-size: 1.5em;
	padding: 10px 10px 10px 10px;
}


